/* Verschiedenste Styles für auf der Seite verwendeten Elemente. (z.B. Überschriften, Tabs, Pfeile etc.) */

@import url(./var.css);

/* Content ist der Hauptbereich der Seite und beinhaltet alles was nicht zum Seitenmenü gehört */
#content {
    min-width: var(--xxx-huge);
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: var(--medium);
    margin-bottom: var(--xl);
}

/* top und middle sind 'Zeilen' inherlab des content containers */
#content-top,
#content-middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: var(--xl);
}

#content-top {
    min-width: var(--xxx-huge);
    margin-top: var(--xl);
    margin-bottom: var(--medium);
}

/* Style für den Name der CAPTCHA Methode */
#captcha-name {
    text-align: center;
}

#captcha-name-text {
    margin-top: 0;
    margin-bottom: 0;
}

/* Unsichtbares Element damit alle Spalten über alle Zeilen im content container korrekt zueinander platziert werden. 
    Ohne filler kommt es früher oder später zu Zeilenumbrüchen inden verschiedenen Zeilen bei den verschiedenen Flex-containern. */
.captcher-text-filler {
    height: 0;
}

#content-middle {
    align-items: stretch;
    row-gap: var(--medium);
}

/* Container für die CAPTCHAs und zugehörigen Elemente wie die Navigationspfeile */
#captcha-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Container für die CAPTCHA-Demo */
#captcha {
    margin-bottom: var(--small);
    box-shadow: 0 var(--xxs) var(--xs) 0 var(--mi-hellgrau), 0 var(--xxs) var(--small) 0 var(--mi-grau);
}

#captcha-name,
#captcha {
    width: var(--xxx-huge);
}

/* Container für die Navigationspfeile */
#captcha-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 0;
}

/* Style für die Navigationspfeile */
.captcha-button {
    width: var(--xxl);
    height: var(--xxl);
    background-color: transparent;
    cursor: pointer;
    fill: none;
    stroke: var(--mi-lila);
    stroke-width: var(--xs);
    content: justify;
}

#captcha-text,
.captcher-text-filler {
    width: clamp(var(--xxx-huge), 25vw, var(--4x-huge));
}

/* Änder das Layout sobald die Breite der Sammlung zu gering wird. 
    Alle Elemente werden nun untereinander aufgereit und nutzen nun den größten Teil der Seitenbreite aus. 
    So bleiben Texte leserlich, und das CAPTCHA erkennbar.*/
@media screen and (max-width: 144em) {

    #captcha-text,
    .captcher-text-filler {
        width: clamp(var(--xxx-huge), 75%, var(--4x-huge));
    }
}

/* Container für die Tabs */
#tab-container {
    display: flex;
}

/* Style für die Tabs */
.tablink {
    flex: 1;
    min-width: fit-content;
    font-family: 'roboto-slab', sans-serif;
    font-size: var(--small-medium);
    text-align: center;
    color: var(--mi-schwarz);
    background-color: unset;
    padding-left: var(--xs);
    padding-right: var(--xs);
    border-bottom: var(--xxs) solid var(--mi-blau);
    margin-top: 0;
    margin-bottom: var(--small);
    cursor: pointer;
    user-select: none;
}

/* Style für den aktuellen Tab */
.active {
    color: var(--mi-pink);
    cursor: default;
    border-bottom: var(--xxs) solid var(--mi-gruen);
}

/* tabcontent sind alles Styles für die verschiedenen Texte und Listen von Beschreibung, Vorteilen und Nachteilen */
.tabcontent {
    display: none;
    margin-bottom: var(--small);
    text-align: justify;
}

.tabcontent-ul {
    margin-top: 0;
}

.tabcontent-li {
    margin-top: 0;
}

.tabcontent-text {
    margin-top: 0;
}