@import url(./var.css);

#content {
    min-width: var(--xxx-huge);
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: var(--medium);
    margin-bottom: var(--xl);
}

#content-top,
#content-middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: var(--xl);
}

#content-top {
    min-width: var(--xxx-huge);
    margin-top: var(--xl);
    margin-bottom: var(--medium);
}

#captcha-name {
    text-align: center;
}

#captcha-name-text {
    margin-top: 0;
    margin-bottom: 0;
}

.captcher-text-filler {
    height: 0;
}

#content-middle {
    align-items: stretch;
    row-gap: var(--medium);
}

#captcha-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#captcha {
    margin-bottom: var(--small);
    box-shadow: 0 var(--xxs) var(--xs) 0 var(--mi-hellgrau), 0 var(--xxs) var(--small) 0 var(--mi-grau);
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    */
}

#captcha-name,
#captcha {
    width: var(--xxx-huge);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    max-width: var(--xxx-huge);
}

.inner-grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
    margin: var(--small);
}

.inner-2-collum-grid-container {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-gap: 0px;
}

#captcha-container-header {
    grid-column: span 3;
    padding: var(--small);
    margin: var(--small);
    color: var(--mi-weiß);
    background-color: var(--mi-blau);
    align-self: center;
    user-select: none;
}

.grid-item {
    width: var(--huge);
    height: var(--huge);
    margin: var(--small);
    justify-self: center;
    align-self: center;
    cursor: pointer;
    user-select: none;
    transition: transform 0.3s ease;
}

.grid-item-solid {
    width: var(--huge);
    height: var(--huge);
    margin: var(--small);
    justify-self: center;
    align-self: center;
    user-select: none;
}

.grid-item img,
.grid-item-solid img {
    width: var(--huge);
    height: var(--huge);
    object-fit: cover;
}

.inner-grid-item {
    width: var(--huge);
    height: var(--huge);
    margin: var(--xxs);
    justify-self: center;
    align-self: center;
    user-select: none;
}

.inner-grid-item img {
    width: var(--huge);
    height: var(--huge);
    object-fit: cover;
}

.inner-grid-button {
    width: var(--xl);
    height: var(--xl);
    background-color: transparent;
    cursor: pointer;
    fill: none;
    stroke: var(--mi-lila);
    stroke-width: var(--xs);
    content: justify;
}

.grid-container-middle {
    grid-column: 2;
}

.grid-container-right {
    grid-column: 3;
}

.grid-container-start {
    justify-self: start;
}

.grid-container-center {
    justify-self: center;
    align-self: center;
}

.grid-container-end {
    justify-self: end;
}

.selected {
    transform: scale(0.75);

}

#textCaptchaImg {
    grid-column: span 3;
    width: var(--xx-huge);
    height: var(--huge);
    margin: var(--small);
    justify-self: center;
    align-self: center;
    object-fit: cover;
    user-select: none;
}

#audioCaptchaAudio {
    grid-column: span 3;
    margin: var(--small);
    justify-self: center;
    align-self: center;
}

#videoCaptchaVideo {
    grid-column: span 3;
    width: 90%;
    margin: var(--small);
    justify-self: center;
    align-self: center;
}

#kartenCaptchaImg {
    grid-column: span 3;
    width: 384px;
    height: 384px;
    margin: var(--small);
    justify-self: center;
    align-self: center;
    object-fit: cover;
    user-select: none;
}

#answerInput {
    grid-column: span 2;
    font-size: var(--small);
    padding: var(--xxs) var(--xs);
    margin: var(--small);
    user-select: none;
}

#captcha-confirm-button {
    grid-column: 3;
    justify-self: end;
    font-family: 'pt-sans';
    font-size: var(--small);
    color: var(--mi-weiß);
    background-color: var(--mi-pink);
    border: none;
    padding: var(--xxs) var(--xs);
    margin: var(--small);
    cursor: pointer;
    user-select: none;
}

.captcha-correct {
    padding: var(--small);
    margin: var(--small);
    font-size: var(--medium);
    text-align: center;
    color: var(--mi-weiß);
    background-color: var(--mi-gruen);
}

#captcha-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 0;
}

.captcha-button {
    width: var(--xxl);
    height: var(--xxl);
    background-color: transparent;
    cursor: pointer;
    fill: none;
    stroke: var(--mi-lila);
    stroke-width: var(--xs);
    content: justify;
}

#captcha-text,
.captcher-text-filler {
    width: clamp(var(--xxx-huge), 25vw, var(--4x-huge));
}

@media screen and (max-width: 144em) {

    #captcha-text,
    .captcher-text-filler {
        width: clamp(var(--xxx-huge), 75%, var(--4x-huge));
    }
}

#tab-container {
    display: flex;
}

.tablink {
    flex: 1;
    min-width: fit-content;
    font-family: 'roboto-slab', sans-serif;
    font-size: var(--small-medium);
    text-align: center;
    color: var(--mi-schwarz);
    background-color: unset;
    padding-left: var(--xs);
    padding-right: var(--xs);
    border-bottom: var(--xxs) solid var(--mi-blau);
    margin-top: 0;
    margin-bottom: var(--small);
    cursor: pointer;
    user-select: none;
}

.tabcontent {
    display: none;
    margin-bottom: var(--small);
    text-align: justify;
}

.tabcontent-ul {
    margin-top: 0;
}

.tabcontent-li {
    margin-top: 0;
}

.tabcontent-text {
    margin-top: 0;
}

.active {
    color: var(--mi-pink);
    cursor: default;
    border-bottom: var(--xxs) solid var(--mi-gruen);
}